{% extends 'hospital/base.html' %}

{% block navbar %}
{% block navbar1 %}
    {{ block.super }}
{% endblock %}
{% endblock %}


{% block content %}

    <div class="container mt-3">
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <div class="card border-0 shadow-sm">
                  <div class="card-header text-white text-center bg-info">Admin Signup</div>
                  <div class="card-body">
                      <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                          <table class="table">
                              {% load crispy_forms_tags %}
                              {{ signup|crispy }}
                          </table>
                          <div class="form-group">
                            <input type="submit" class="btn btn-primary btn-block">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>

{% endblock %}